.expense-item
    span
        display: inline-block

    .date
        width: 5em
        padding-right: 10px
    
    .amount
        width: 4em
        text-align: right
        padding-right: 2em

    .description
        width: 10em
        padding-right: 2em
