.top-bar
    position: sticky
    top: 0
    padding-top: 1em
    padding-left: 2em
    padding-right: 2em
    background: #333844
    z-index: 10

.expense-item
    .date
        width: 10em

    .amount
        width: 5em

    .paid-by
        width: 10em

    .description
        width: auto
